*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Poppins', sans-serif;;
}
.navbar
{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav
{
    flex: 1;
    text-align: right;
}
nav ul
{
    display: inline-block;
    list-style-type: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 20px;
}
.logo img
{
    border-radius: 50%;
}
a
{
    text-decoration: none;
    color: #000;
}
p
{
    color: #000;
}
.container
{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2
{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img
{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1
{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    /* padding-left: 20px; */
    text-align: center;
}
.col-2 p
{
    padding: 20px;
}
.col-2 .btn
{
    margin-left: 20px;
}
.btn
{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover
{
    background: #563434;
}
.header
{
    background: radial-gradient(#fff,#0074f8);
}
.header-contacts
{
    background: url(images/hp10.jpg);
    background-size: cover;
}
.header .row
{
    margin-top: 70px;
}
.header-2
{
    background: url(images/church14.jpg);
    background-size: cover;
    color: #fff;
}
.ministries h1
{
    font-size: 50px;
}
.header-2 p
{
    color: #fff;
}
.menu-icon
{
    width: 28px;
    margin-left: 20px;
    display: none;
}
.container2
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
}
.container2 .card
{
    position: relative;
    width: 300px;
    height: 400px;
    background: #0c002b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, .2);
    overflow: hidden;
}	
.container2:hover .card
{
    opacity: .5;
}
.container2 .card:hover
{
    opacity: 1;
}
.container2 .card::before
{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(255, 255, 255, .1);
    pointer-events: none;
}
.container2 .card .content
{
    padding: 30px;
    align-items: center;
}
.container2 .card .content h2
{
    opacity: 1;
    transform: translateY(-70px);
}
.container2 .card .content h3
{
    position: relative;
    font-size: 1.5em;
    color: #fff;
    z-index: 2;
    opacity: .5;
    letter-spacing: 1px;
    transition: .5s;
}
.container2 .card .content p
{
    position: relative;
    font-size: 1em;
    color: #fff;
    z-index: 2;
    opacity: .5;
    font-weight: 300;
    transition: .5s;
}
.container2 .card .content li
{
    color: #fff;
}
.container2 .card:hover .content h3,
.container2 .card .content p
{
    opacity: 1;
}
.container2 .card span
{
    transition: .5s;
    opacity: 0;
}
.container2 .card:hover span
{
    opacity: 1;
}
.container2 .card span:nth-child(1)
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, #1779ff);
    animation: animate1 2s linear infinite;
}
@keyframes animate1
{
    0%
    {
        transform: translateX(-100%);
    }
    100%
    {
        transform: translateX(100%);
    }
}
.container2 .card span:nth-child(2)
{
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #1779ff);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate2
{
    0%
    {
        transform: translatey(-100%);
    }
    100%
    {
        transform: translateX(100%);
    }
}

.container2 .card span:nth-child(3)
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, transparent, #1779ff);
    animation: animate3 2s linear infinite;
}
@keyframes animate3
{
    0%
    {
        transform: translateX(100%);
    }
    100%
    {
        transform: translateX(-100%);
    }
}

.container2 .card span:nth-child(4)
{
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent, #1779ff);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate4
{
    0%
    {
        transform: translatey(100%);
    }
    100%
    {
        transform: translateX(-100%);
    }
}
/* from gallery */
.categories
{
    margin: 70px 0;
}
.col-3
{
    flex: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img
{
    width: 95%;
}
.small-container
{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/* testimonial */
.testimonial
{
    padding-top: 100px;
}
.testimonial .col-3
{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img
{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover
{
    transform: translateY(-10px);
}
.fa.fa-quote-left
{
    font-size: 34px;
    color: #ff523b;
}
.rating .fa
{
    color: #ff523b;
}
/* footer */
.footer
{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p
{
    color: #8a8a8a;
}
.footer h3
{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4
{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1
{
    flex-basis: 30%;
}
.footer-col-2
{
    flex: 1;
    text-align: center;
}
.footer-col-2 img
{
    width: 100px;
    margin-bottom: 20px;
    border-radius: 50%;
}
.footer-col-3, .footer-col-4
{
    flex-basis: 40%;
    text-align: center;
}
ul
{
    list-style-type: none;
}
.footer-col-4 li
{
    margin: 20px;
}
.app-logo
{
    margin-top: 20px;
}
.app-logo img
{
    width: 140px;
}
.footer hr
{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright
{
    text-align: center;
}
.menu-icon
{
    width: 28px;
    margin-left: 20px;
    display: none;
}
.about
{
    text-align: center;
}
.row .col-2 h3
{
    text-align: center;
}
.row .col-2 h2
{
    text-align: center;
}
.row .col-2 ul
{
    text-align: center;
}

/* GALLERY PHOTOS */

.img-area
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.img-area img
{
    width: 230px;
    padding: 5px;
    filter: grayscale(70%);
    transition: 1s;
}
.img-area img:hover
{
    filter: grayscale(0%);
    transform: scale(1.1)
}
.single-img
{
    padding: 0  20px 20px;
}
.imagegallery
{
    text-align: center;
}
.imagegallery .description
{
    margin-bottom: 20px;
    height: 60px;
    font-size: 24px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right, #0074f8, #fff, #0074f8);
    color: #000;
}
.imagegallery p
{
    font-family: 'Poppins' ,sans-serif;
    font-size: 18px;
    font-weight: bold;
}


/* schedule */
.schedule
{
    text-align: center;
    margin: 25px auto;
}
.table
{
    padding-right: 25px;
    padding-left: 25px;
}
.programmes
{
    height: auto;
    /* width: 100%; */
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: 700;
    background: #fff;
}
.programmes .head
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* .programmes h2
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: inherit;
}
.programmes h3
{
    font-size: 25px;
    font-weight: inherit;
} */
.table-row
{
    display: table;
    width: 80%;
    margin: 10px auto;
    font-family: 'Poppins', sans-serif;
    background: #fff;
    padding: 12px 0;
    color: #555;
    font-size: 18px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
}
.table-cell
{
    display: table-cell;
    width: 20%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid #d6d4d4;
    vertical-align: middle;
}
.tablehead
{
    background:linear-gradient(to right, #0074f8, #fff, #0074f8);
    box-shadow: none;
    color: #fff;
    font-weight: 700;
}
#indicator
{
    width: 150px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(560px);
    transition: transform 1s;
}
.covid
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.announcements
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    /* background: rgba(0, 0, 0, .15); */
}
.announcements .churchAnnouncements
{
    height: auto;
    color: #000
}
.events
{
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
    color: #000;
}

/* programmes */
.small-container
{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4
{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img
{
    width: 100%;
}
.row-2
{
    justify-content: space-between;
    margin: 100px auto 50px;
}

/* contactf form */
.contactForm
{
    width: 100%;
    padding: 40px;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    /* opacity: .6; */
}
.contactForm h2
{
    font-size: 30px;
    color: rgb(255, 136, 0);
    font-weight: 500;
}
.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid rgb(255, 136, 0);
    outline: none;
    resize: none;
}
.contactForm .inputBox span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: rgb#0055f7;
    font-size: 12px;
    transform: translatey(-20px);
}
.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: rgb(255, 136, 0);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
.containerInfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.containerInfo  .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.containerInfo  .box .icon
{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.containerInfo  .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.containerInfo  .box .text h3
{
    font-weight: 500;
    color: rgb(255, 136, 0);
}
.maps
{
    height: 400px;
}
.map
{
    margin: 20px;
}
.footer-col-4 a
{
    color: #fff;
}

 /* ministries */
.ministries h1
{
    text-align: center;
}
.announcements ul
{
    list-style-type: disc;
    text-align:left;
}
/* sermons */
.sermon p
{
    text-align: left;
}
.sermon ul
{
    list-style: disc;
}
/* events */
.upcoming
{
    padding-top: 100px;
}
.upcoming .col-3
{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.upcoming .col-3 img
{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.upcoming .col-3:hover
{
    transform: translateY(-10px);
}
.upcoming ul
{
    list-style: disc;
    text-align: left;
}






/* media query for menu */
@media only screen and (max-width: 800px)
{
    nav ul
    {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li
    {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a
    {
        color: #fff;
    }
    .menu-icon
    {
        display: block;
        cursor: pointer;
    }
}

/* media query for less than 600 screen size */
@media only screen and (max-width: 600px)
{
    .logo img
    {
        width: 125px;
    }
    .row
    {
        text-align: center;
    }
    .col-2, .col-3, .col-4
    {
        flex-basis: 100%;
        margin: 15px;
    }
    .single-product .row
    {
        text-align: left;
    }
    .single-product .col-2
    {
        padding: 20px 0;
    }
    .single-product h1
    {
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info p
    {
        display: none;
    }
    #indicator
    {
    width: 150px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(120px);
    /* transition: transform 1s; */
    }
    /* .map
    {
        margin: 50px;
    } */
    .about
    {
        margin: 15px;
    }
    .table-row
    {
        width: 100%;
    }
    .head
    {
        text-align: center;
    }
    .table-box
    {
        width: 100%;
    }
    .covid, .events, .announcements
    {
        text-align: center;
    }
    /* .header-contacts
    {
        background: radial-gradient(#fff,#0074f8);
    } */
    .header-2 h1
    {
        font-size: 28px;
    }
    .header-2 .row h1
    {
        font-size: 20px;
    }
    .row .col-2 li
    {
        text-align: justify;
    }
    .announcements ul
    {
        list-style-type: disc;
        text-align: left;
    }
}